.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.menu {
    grid-area: 2 / 2 / 5 / 5;
    background-image: url("https://picsum.photos/1200/1000");
}
div{
    display:inline-grid;
}

label{
    text-align: center;
    margin: 20px;
    font-size: 20px;
}
h1{
    text-align: center;
}
.search{
    width: 20vw;
    height: 5vh;
}
.message{
    width: 20vw;
    height: 20vh;
}
.send{
    margin-left: 25vw;
    width: 10vw;
    height: 5vh;
}
::placeholder{
    font-size: 20px;
}