#container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


body {
    font-family: "Poppins", sans-serif;
    background-color: #fafafa;
}

#videos {
    grid-area: 2 / 1 / 6 / 6;
}

#header {
    grid-area: 1 / 1 / 2 / 6;
}

img {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid #ddd;
    border-radius: 4px;

    width: 200px;
}

div#container > #videos > * {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: auto;
    width: 25vw;
    height: 35vh;
    transition: all 0.3s ease-out;
}