.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.menu {
    grid-area: 2 / 2 / 5 / 5;
}
div{
    display:inline-grid;
}